body{
    background-color: rgb(154, 241, 241);
    font-family: Comic Sans MS;
}
.Temperature {
    display: block;        
    text-align: center;    
    margin-top: -15px;     
    font-size: 2rem;      
}
.Cityname{
    display: block;
    text-align: center;
    margin-top: -30px;
    font-size: 3rem;
}
.background{
position: fixed;
width:100vw;
height:100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}
